.container button{
    background-color: transparent;
    border:2px solid #ccc;
    border-radius: 30px;
    padding: 30px;
    margin:0px 10px 10px 0px;
    width: calc(100%/3 - 10px);
}
p{
    margin: auto;
}
.div_select{
    padding: 0px 50px;
}
.money_p{
    font-size: 40px;
}

.div_color,.div_Storage,.div_Connectivity{
    margin-bottom: 20px;
}
/* .div_color button:hover,.div_Storage button:hover,.div_Connectivity button:hover{
    border:2px solid rgb(34, 91, 225);
} */


