.row{
    display: flex;
    flex-wrap: wrap;
    /* margin-left:calc(var(--gap) * -1);
    margin-right:calc(var(--gap) * -1); */
}
.row-cols-1 > .col{
    width: 100%;
}
.row-cols-2 > .col{
    width: 50%;
}
.row-cols-3 > .col{
    width: 33.333333%;
}
.row-cols-4 > .col{
    width: 25%;
}
.row-cols-5 > .col{
    width: 20%;
}
.row-cols-6 > .col{
    width: 16.666666%;
}



.recommend{
    padding: 30px 20px;
    box-sizing: border-box;
}
.recommend_title h3{
    text-align: center;
    color: #000;
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: bold;
}
.recommend_title span{
    color: #0061ff;
}
.recommend_brand{
    display: none;
}
.recommend_content .row{
    flex-direction: column-reverse;
}
.recommend_content .text-top a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: #0061ff;
}
.recommend_content .text-top p{
    line-height:30px;
    padding: 0 0 15px;
}
.recommend_content .picture{
    margin-bottom: 20px;
}
.recommend_content .picture img{
    width: 100%;
}
.recommend .circle{
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.recommend .circle i{
    font-size: 3px;
    color:#ccc;
}
.recommend .circle i:hover{
    color: #0061ff;
}



.footer_banner{
    background-color:#172b4d;
    position: relative;
    z-index: -1;
}
.footer_banner .content{
    position: relative;
}
.footer_banner .text{
    padding: 90px 20px 250px 20px;
    box-sizing: border-box;
    position: relative;
    color: #fff;
}
.footer_banner .text h2{
    line-height: 60px;
    font-size: 40px;
    margin-bottom: 50px;
}
.footer_banner .text .butten{
    width: 360px;
    max-width: 100%;
    padding: 11px 0 8px;
    border-radius: 30px;
    background-color:#0061ff;
    text-align: center;
    font-size: 16px;
}
.footer_banner .text a{
    text-decoration: none;
    color:#fff;
}
.footer_banner .content .picture{
    width: 615px;
    width: 60%;
    position: absolute;
    z-index: -2;
    bottom: 0;
    right: 0;
}
.footer_banner .content .picture img{
    width: 100%;
}






@media screen and (min-width:768px) {
    .row-cols-md-1> .col{width: 100%;}
    .row-cols-md-2> .col{width: 50%;}
    .row-cols-md-3> .col{width: 33.333333%;}
    .row-cols-md-4> .col{width: 25%;}
    .row-cols-md-5> .col{width: 20%;}
    .row-cols-md-6> .col{width: 16.666666%;}


    .footer_banner .content{
        padding: 50px 0px;
    }    
    .footer_banner .text{
        width: calc(100%-400px);
        padding: 0px 35px 0px 35px;
    }
    .footer_banner .content .picture{
        width: 500px;
    }
    
}



@media screen and (min-width:992px) {
    .row-cols-lg-1> .col{width: 100%;}
    .row-cols-lg-2> .col{width: 50%;}
    .row-cols-lg-3> .col{width: 33.333333%;}
    .row-cols-lg-4> .col{width: 25%;}
    .row-cols-lg-5> .col{width: 20%;}
    .row-cols-lg-6> .col{width: 16.666666%;}

    .recommend_brand{
        display: block;
        display: flex;
        margin-bottom: 20px;
    }
    .recommend_brand img{
        width: 20%;
    }
    .recommend_content .row{
        flex-direction: row;
    }
    .recommend_content .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .recommend_content .text-top p{
        padding: 0 0 0px;
    }
    .recommend_content .picture{
        margin-bottom: 0px;
    }
    .recommend_content .picture img{
        width: 100%;
        vertical-align: top;
    }
    .recommend .circle{
        display: none;
    }
    
}



@media screen and (min-width:1200px) {
    .row-cols-xl-1> .col{width: 100%;}
    .row-cols-xl-2> .col{width: 50%;}
    .row-cols-xl-3> .col{width: 33.333333%;}
    .row-cols-xl-4> .col{width: 25%;}
    .row-cols-xl-5> .col{width: 20%;}
    .row-cols-xl-6> .col{width: 16.666666%;}


    .recommend{
        width: 1200px;
        margin: auto;
    }
    .footer_banner .content{
        width: 1200px;
        margin: auto;
    }
        
    }